.expand-btn
  padding: 0 0.6em 0.6em !important

.expand-btn:hover
  color:black

.fix-label
  transform: translateX(-0px) translateY(-100%) !important

.fix-label.active
  transform: translateX(10px) translateY(-100%) !important

.ui-layout-resizer
  background-color: rgb(96,96,96)

.ui-layout-toggler
  background-color: rgb(132, 132, 132)

.ui-layout-resizer:hover
  background-color: rgb(64, 186, 255)

.ui-layout-toggler:hover
  background-color: rgb(46, 126, 176)
